Hi,
<br />
<br />
{% block message %}{% endblock message %}
<br />
<br />
Your allocation has been approved as a {{ allocation.allocation_home_display }} allocation.
<br />
{% if allocation.allocation_home == 'national' %} This means you will be able to
use the cloud resources provided by all nationally funded Nectar sites.
{% else %}
This means you will be able to use the cloud resources provided by
the {{ allocation.allocation_home_display }} Nectar site.
{% endif %}
<br />
{% if out_of_zone_instances %}
<br />
It looks like you have instances that are outside your approved allocation home location.
<br />
You will need to arrange to <a href="https://support.ehelp.edu.au/support/solutions/articles/6000191165-migrating-instances-between-availability-zones">relocate
your resources to one of the following availability zones available to you</a> within the next 3 months :
<ul>
{% for zone in compute_zones %}
<li>{{ zone }}</li>
{% endfor %}
</ul>
Affected instances:
<table>
<thead>
<th>ID</th>
<th>Name</th>
<th>Availability Zone</th>
</thead>
<tbody>
{% for instance in out_of_zone_instances %}
<tr>
<td>{{ instance.id }}</td>
<td>{{ instance.name }}</td>
<td>{{ instance.availability_zone }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
<br />
{% if allocation.status_explanation %}Approver comment:
{{ allocation.status_explanation|safe }}{% endif %}
<br />
Allocation ID: {{ allocation.id }}
<br />
Project Name: {{ project.name }}
<br />
Description: {{ project.description }}
<br />
Expires: {{ allocation.end_date }}
<br />
<br />
{{ report }}
<br />
<br />
Remember to select it using the Nectar Dashboard project selector.  (The selector is at the top left of the Dashboard.)
<br />
<br />
For an introduction on accessing these resources, adding users and launching
instances, please see the <a href="https://support.ehelp.edu.au/support/solutions/articles/6000055378-welcome">Welcome</a> article on the Nectar Support site.  You are also encouraged to take the self-paced Nectar Tutorials available on the <a href="https://tutorials.rc.nectar.org.au/">Nectar Training site</a>. 
<br />
<br />
For more information about the classification of local and national projects, please see our <a href="https://support.ehelp.edu.au/support/solutions/articles/6000226889-national-and-local-allocations">Local and National Nectar Research Cloud allocations</a> support page.
<br />
<br />
Kind Regards,
<br />
Nectar Research Cloud Team.
