pbr
python-dateutil
python-designateclient
python-keystoneclient
python-novaclient
python-glanceclient
python-cinderclient
python-muranoclient
python-neutronclient
python-swiftclient
python-troveclient
python-manilaclient
gnocchiclient
placementclient
jinja2
prettytable
python-freshdesk
nectarallocationclient>=1.1.0
oslo.messaging
oslo.context
openstacksdk>=0.22.0
manukaclient
