python-dateutil
python-designateclient
python-keystoneclient
python-novaclient
python-glanceclient
python-cinderclient
python-muranoclient
python-neutronclient
python-swiftclient
python-troveclient
python-manilaclient
gnocchiclient
placementclient
jinja2
prettytable
python-freshdesk
-e git+https://github.com/NeCTAR-RC/python-nectarallocationclient.git#egg=nectarallocationclient
oslo.messaging
oslo.context
openstacksdk
