Dear {{ project.owner.full_name }},
<br />
<br />
Thank you for trying out the Nectar Research Cloud.
<br />
<br />
Trial projects are given a small amount of Cloud resource or a time period of 6 months, if the resource is not used first.
<br />
Your trial project, <b>{{ project.name }}</b>, has reached 100% of allowed cloud usage or it has been running for over 5 months. The expiry process of this trial is starting.
<br />
<b>What happens now?<b>
In 30 days our system will notify you again and set your project's resources limits to 0. Any instances within the project will remain active for an additional 14 days, but you won't be able to launch any new instances. In 44 days, our system will shut down and archive any instances in this trial project (including suspended and stopped instances). This will release the resources for other users of
the cloud. The archived instances will be safely stored, and will remain available to you for 3 months from the date they were shut down.
<br />
<br />
If you wish to continue using the Nectar Research Cloud, please submit an allocation request from the Dashboard.
Check out the helpful resource below:
<a href="https://support.ehelp.edu.au/support/solutions/articles/6000068044-managing-an-allocation">Managing an Allocation</a>
<br />
You can reply to this email if you have any questions.
<br />
<br />
Kind regards,
<br />
<br />
ARDC Nectar Research Cloud Team