Dear Nectar Research Cloud User,

<br />
<br />
<br />
<br />
We hope that you have found the Nectar Research Cloud (NRC) helpful in your research.
<br />
<br />
Projects on the NRC are created for a fixed term to ensure fair access to resources for all users of the cloud.
<br />
<br />
Trial projects are given a usage-based quota equivalent to running two CPU cores for three months (approximately 4000 core-hours) or a time period of 12 months if the usage-based quota is not used first.
<br />
<br />
Your trial project, <b>{{ project.name }}</b>, has reached 100% of allowed cloud usage or it has been running for over 5 months.
<br />
<br />
In 30 days our system will notify you again and set your project's quota to 0.  Any instances within the project will remain active for an additional 14 days, but you won't be able to launch any new instances.
<br />
<br />
In 44 days, our system will shut down and archive any instances in this trial project (including suspended and stopped instances). This will release the resources for other users of
the cloud. The archived instances will be safely stored, and will remain available to you for 3 months from the date they were shut down.
<br />
<br />
If you wish to continue using the NRC for your research please submit an allocation request from the Nectar Research Cloud Dashboard ; see: https://support.ehelp.edu.au/support/solutions/articles/6000055380-resources-available-to-you
for details for requesting an allocation and additional information on Nectar Research Cloud resources.
<br />
<br />
If you do submit an allocation request to continue using the NRC, you will have the ability to transfer your resources to your new allocation. Please remember to select convert my PT when applying.
<br />
<br />
Please reply to this email if you have any questions or concerns. For further information about project trial expiry renewal please refer to https://support.ehelp.edu.au/support/solutions/articles/6000171494-project-allocation-expiry-and-renewal#pt
<br />
<br />
<br />
<br />
Thanks,
<br />
<br />
Nectar Research Cloud Team
