Dear {{ project.owner.full_name }},
<br />
<br />
Thank you for trying out the Nectar Research Cloud.
<br />
Your trial project, <b>{{ project.name }}</b>, has now reached 100% of allowed cloud usage or has been running for 6 months.
<br />
Our system has now set your project's resource limits to zero. Any instances within the project will remain active, but you won't be able to launch any new instances.
<br />
After 2 weeks, if you have not applied for project allocation, our system will stop any instances and data in this project allocation. After a further 2 weeks our system will terminate and archive any instances and data in this project trial, releasing the resources for other users of the cloud. The archived instances and data will be safely stored, and will remain available to you for 3 months from the date when the project expires. However after this time they will be deleted.
<br />
<b>How can I access my instances<b>
You will be able to access the archived instances and data by logging a <a href="https://support.ehelp.edu.au/support/tickets/new">support ticket</a> or replying to this email.
<br />
<br />
If you wish to continue using the Nectar Research Cloud, please submit an allocation request from the Dashboard.
Check out the helpful resource below:
a <a href="https://support.ehelp.edu.au/support/solutions/articles/6000068044-managing-an-allocation">Managing an Allocation</a>
<br />
You can reply to this email if you have any questions.
<br />
<br />
Kind regards,
<br />
ARDC Nectar Research Cloud Team

