Dear {{account.displayname }},
<br />
<br />
It is a condition of using the Nectar Research Cloud that you sign into the dashboard at least once every 6 months.
As you haven't logged into the dashboard in the past 6 months, your account will be deactivated.
<br />
<br />
To keep your account active, sign in to the dashboard in the next 30 days. Sign in via https://dashboard.rc.nectar.org.au.
If unsure, you can also contact the helpdesk for further information by replying to this email, or creating a new ticket at https://support.ehelp.edu.au.
<br />
<br />
Kind Regards,
<br />
The ARDC Nectar Research Cloud Team