Dear NeCTAR Research Cloud User,
<br />
<br />
<br />
<br />
We hope that you have found the NeCTAR Research Cloud (NRC) helpful in
your research.
<br />
<br />
Projects on the NRC are created for a fixed term to ensure fair access
to resources for all users of the cloud.
<br />
<br />
Trial projects are given a time-based quota equivalent to running two
CPU cores for three months (approximately 4000 core-hours).
<br />
<br />
Your trial project, <b>{{ project.name }}</b>, has reached 100% of allowed
cloud usage.
<br />
<br />
Our system has now set your project's instance and core quota to 0.  Any
instances within the project will remain active, but you won't be able
to launch any new instances.
<br />
<br />
In one month, on {{ project.expiry_next_step }}, our system will shut down and
archive any instances in this trial project (including suspended and
stopped instances). This will release the resources for other users of
the cloud. The archived instances will be safely stored, and will remain
available to you for 3 months from the date they were shut down.
<br />
<br />
If you wish to continue using the NRC for your research please submit an
allocation request; see:
  https://support.ehelp.edu.au/support/solutions/articles/6000055380-resources-available-to-you
for details on how to access further resources on the NRC.
<br />
<br />
If you are thinking of putting in an application for use of further NRC
resources, please let us know so we can help you smoothly transition
your research onto a new project allocation.
<br />
<br />
Please reply to this email if you have any questions or concerns.
<br />
<br />
<br />
<br />
Thanks,
<br />
<br />
NeCTAR Research Cloud Team
