{% extends 'base.tmpl' %}

{% block release_notes %}
{{ super() }}
<ul>
  <li>MySQL Server upgraded to 8.0.36</li>
</ul>
{% endblock %}

{% block eol %}
<br/>
MySQL 5.7 is now <b>End of Life</b>. Upgrading to MySQL 8.0 is supported and is generally safe.
<br/>
Please review the mysql <a href="https://dev.mysql.com/doc/refman/8.0/en/upgrading-from-previous-series.html">changes affecting upgrade</a>.
<br/>
<br/>
{% endblock %}
