{% extends 'base.tmpl' %}

{% block pre %}
Your Nectar database instance version is now <b>End of Life</b><br/>
{% endblock %}

{% block release_notes %}
{% endblock %}

{% block upgrade %}
An automatic upgrade to version 16 is possible but could be unsupported on your current database.
For this reason we cannot do this for you and you will need to upgrade yourself.
<br/>
<br/>
Please upgrade by <b>{{ start }}</b>, by following the instructions below.
<br/>
<b>Failure to upgrade before {{ start }} will result in your database instance being shutdown.</b>
<br/>
<br/>
You can do it either via the Nectar Research Cloud dashboard, or via the OpenStack CLI tools.
During the upgrade operation your database instance will be unavailable.
<i>This typically takes around 10 minutes but actual times can vary depending on several factors.
Large PostgreSQL DBs greater than 10GB can take several hours and it would be better to do a backup and restore to a new DB.</i>
<br/>
{% if used != "Unknown" %}
<b> Your instance is currently using  {{ used }}GB</b>
<br/>
{% endif %}
<b>We recommend you <a href="https://tutorials.rc.nectar.org.au/database/04-database-backups">create a backup</a></b> of your database instance(s) before the
maintenance window. You can reference the Nectar Database service support
documentation at https://support.ehelp.edu.au/support/solutions/articles/6000178670
for more information.
<br/>
<br/>
<b>NOTE:</b> Our new datastore version are only supported on our db3.* flavors.
<br/>
You will need to resize your instance first before upgrading if using an older db.* flavor.
<br/>
<br/>
<b>How to upgrade your database via the Dashboard:</b>
<ul>
  <li>Go to https://dashboard.rc.nectar.org.au/project/databases/</li>
  <li>Click on the dropdown in the <b>Actions</b> column of the affected instances</li>
  <li>Select <b>Upgrade Instance</b> and then choose the available new version</li>
  <li>Click <b>Upgrade Database Instance</b></li>
</ul>
<b>How to upgrade your database via the CLI:</b>
Using the CLI tools, simply load your credentials and start the upgrade by typing:
<pre>openstack database instance upgrade {{ database.name }} {{ datastore_latest_version.name }}</pre>
<br/>
<b>An example backup and restore using the CLI:</b>
<br/>
First take a dump of the data (Follow this process for each database on your instance).
<pre>pg_dump -h {{ database.hostname }} -U DB_USERNAME -d DB_NAME > DB_NAME.sql</pre>
<br/>
Create new PostgreSQL 16 <a href="https://tutorials.rc.nectar.org.au/database/02-database-launch">instance</a> and <a href="https://tutorials.rc.nectar.org.au/database/05-database-user">create users, databases and access</a>.
<br/>
<br/>
Upload dump to new DB instance
<pre>psql DB_NAME < DB_NAME.sql</pre>
<br/>

{% endblock %}
