Dear Project Manager,
<br />
<br />
We hope that you have found the Nectar Research Cloud helpful in your research.
<br />
<br />
Project allocations on the Research Cloud are created for a fixed term to ensure fair access to resources for all users of the cloud.
<br />
<br />
Your project allocation, {{ project.name }}, has now <b>expired</b>.
<br />
<br />
Your project allocation has been set to zero, which means no new virtual machines or cloud storage can be used.  After 2 weeks, if you have not applied for an extension of your allocation, our system will stop any instances and data in this project allocation. After a further 2 weeks our system will terminate and archive any instances and data in this project allocation, releasing the resources for other users of the cloud. The archived instances and data will be safely stored, and will remain available to you for 3 months from the date when the project expires. However after this time they will be deleted. <b>Some resources that have been made public (for example Community images or public Object store data) will remain accessible and not be deleted.</b>
<br />
<br />
You will be able to access the archived instances and data by logging a <a href="https://support.ehelp.edu.au/support/tickets/new">support ticket</a> or replying to this email.
<br />
<br />
<b>If you wish to continue using this project allocation</b> for your research please submit an extension request for your project allocation by following the steps below:
<br />
<ol>
<li>Log in to the <a href="https://dashboard.rc.nectar.org.au">Nectar dashboard</a></li>
<li>Navigate to "Allocations -> My Requests" and click the "Amend/Extend allocation" button on the right, next to your project.</li>
<li>On the Request Form, you are asked to fill in or adjust some details about your research project. Please review this carefully, as some questions may have changed since your previous application.</li>
<li>Click the "Submit" button.</li>
</ol>
<br />
<b>If you no longer require this allocation</b> please help us by shutting down your instances and deleting your data prior to expiry of your allocation.
<br />
<br />
Thanks,
<br />
Nectar Research Cloud Team
<br />
<br />
<br />
Please note: If you have been cc'd on this email and know that the project allocation manager is no longer associated with this project allocation or is not contactable, please log a <a href="https://support.ehelp.edu.au/support/tickets/new">support ticket</a> or reply to this email to advise us to ensure the appropriate person is notified of the expiry.
