Dear {{ name }},

{% block content %}
{% endblock %}

Regards,

The NeCTAR Research Cloud Support Team

--
This email has been sent to all users of the NeCTAR Research Cloud. It has been
sent to the email address associated with your Research Cloud login. These
emails are essential communications which we endeavour to keep to a minimum.
They only relate to events that may affect your NeCTAR Research Cloud resources
or data integrity. If you receive multiple copies of this email, it may be due
to the fact that you are a member of multiple projects.
