Dear NeCTAR Research Cloud User,

This email is to inform you of a scheduled outage to the NeCTAR Research Cloud.

DURATION:   {{ days }} day{% if days > 1 %}s{% endif %} {{ hours }} hours
START TIME: {{ start_ts }} {{ tz }}
END TIME:   {{ end_ts }} {{ tz }}

DESCRIPTION:

A {{ days }} day{% if days > 1 %}s{% endif %} {{ hours }} hours outage is required to perform essential
maintenance on cloud infrastructure at the {{ zone }} availbility zone. Only
instances in the {{ zone }} availability zone will be affected. The upgrade
will bring further stability and increased performance to this availability
zone.

IMPACT:

All instances in the {{ zone }} availability zone will be shut down
and will be inaccessible during the outage. Instances will NOT be destroyed,
only shut down. This zone will be offline during the outage period and no
requests to the zone will be processed. Users have the option of relocating
instances to other availability zones prior to the outage. At present there is
reasonable spare capacity across the cloud to start instances elsewhere,
however this capacity may decrease as the outage date approaches.

{% if affected -%}
Your current instances in the {{ zone }} zone are listed below.

{% endif -%}

ACTION REQUIRED:

 * It is recommended that users complete their own backups, snapshots or
   otherwise copy data to somewhere other than the {{ zone }} zone

 * Once backups are complete, it is recommended that users detach volumes and
   shut down their own instances. If a user is unable to do so, the instances
   will be shut down at the outage start time

 * Ensure that the above items are completed well in advance of the outage
   start time

 * After the outage, users will be required to restart their own instances

{% if affected -%}
AFFECTED INSTANCES:

UUID                                  IP Address      Host            Project
{% for project, servers in instances.iteritems() -%}
{% for server in servers -%}
{{ server.id }}  {{ server.accessIPv4 }}  {{ server.name }}      {{ project }}
{% endfor -%}
{% endfor -%}
{% endif %}

If you have any queries regarding this outage, please contact us by email:

   support@rc.nectar.org.au

We apologise sincerely for any inconvenience caused by this outage.

Regards,

The NeCTAR Research Cloud Support Team

--
This email has been sent to users of the NeCTAR Research Cloud. It has been
sent to the email address associated with your Research Cloud login. These
emails are essential communications which we endeavour to keep to a minimum.
They only relate to events that may affect your NeCTAR Research Cloud resources
or data integrity. If you receive multiple copies of this email, it may be due
to the fact that you are a member of multiple projects.

