Hi,
<br />
Your out of zone instance, {{ instance.name }}, has now been <b>archived</b>.
<br />
Since your allocation has been approved as a {{ allocation.allocation_home_display }} allocation. You will be able to use the cloud resources provided by the {{ allocation.allocation_home_display }} Nectar site.
<br />
<br />
Affected instance:
<table>
<thead>
<th>ID</th>
<th>Name</th>
<th>Availability Zone</th>
</thead>
<tbody>
<tr>
<td>{{ instance.id }}</td>
<td>{{ instance.name }}</td>
<td>{{ instance.availability_zone }}</td>
</tr>
</tbody>
</table>
<br />
<br />
Kind Regards,
<br />
Nectar Research Cloud Team.
