Dear Project Manager,
<br />
<br />
We hope that you have found the Nectar Research Cloud helpful in your research.
<br />
<br />
Project allocations on the Research Cloud are created for a fixed term to ensure fair access to resources for all users of the cloud.
<br />
<br />
Your project allocation, {{ project.name }}, has now <b>expired</b>.
<br />
<br />
Your project allocation has been set to stopped, which means that existing virtual machines and storage resources have been locked and paused and no new virtual machines or cloud storage can be used.  After 2 weeks, if you have not applied for an extension of your allocation, our system will terminate and archive any instances and data in this project allocation, releasing the resources for other users of the cloud. The archived instances and data will be safely stored, and will remain available to you for 3 months from the date when the project expires. However after this time they will be deleted. <b>Some resources that have been made public (for example Community images or public Object store data) will remain accessible and not be deleted.</b>
<br />
<br />
You will be able to access the archived instances and data by logging a <a href="https://support.ehelp.edu.au/support/tickets/new">support ticket</a> or replying to this email.
<br />
<br />
Thanks,
<br />
Nectar Research Cloud Team
<br />
<br />
<br />
Please note: If you have been cc'd on this email and know that the project allocation manager is no longer associated with this project allocation or is not contactable, please log a <a href="https://support.ehelp.edu.au/support/tickets/new">support ticket</a> or reply to this email to advise us to ensure the appropriate person is notified of the expiry.
