PT expiry for project <b>{{ resource.name }}</b> ({{ resource.id }})
<br />
<br />
Owner:
<br />
Username: {{ resource.owner.name }}
<br />
Name: {{ resource.owner.full_name }}
<br />
Email: {{ resource.owner.email }}
