PT expiry for project <b>{{ project.name }}</b> ({{ project.id }})
<br />
<br />
Owner:
<br />
Username: {{ project.owner.name }}
<br />
Name: {{ project.owner.full_name }}
<br />
Email: {{ project.owner.email }}
