Dear Project Managers and Members,
<br />
<br />
We hope that you have found the NeCTAR Research Cloud (NRC) helpful in your research.
<br />
<br />
Project allocations on the NRC are created for a fixed term to ensure fair access to resources for all users of the cloud.
<br />
<br />
Your project allocation, {{ project.name }}, <b>has expired</b>. 
<br />
<br />
Your project allocation has been set to zero, which means that existing virtual machines and storage resources will continue to be accessible, but no new virtual machines or cloud storage can be used.  After 1 month, if you have not applied for an extension of your allocation, our system will terminate and retain any instances  and data in this project allocation, releasing the resources for other users of the cloud. The archived instances and data will be safely stored, and will remain available to you for 3 months from the date when the project expires. However after this time they will be deleted.
<br />
<br />
You will be able to access the archived instances and data by contacting the Nectar helpdesk at support.ehelp.edu.au.
<br />
<br />
Thanks,
<br />
NeCTAR Research Cloud Team
<br />
<br />
<br />
N.B. If you have been included in this email and know that the project manager is no longer associated with this project allocation or is not contactable, please log a support ticket at support.ehelp.edu.au to advise us to ensure the appropriate person is notified of the upcoming expiry.
