Dear ARDC Nectar Jupyter Notebook Service user,
<br />
<br />
As mentioned in our last email, in order to ensure efficient use of resources,
we have now <b>archived</b> your Jupyter Notebook service data as you have not used
the service within the last six months.
<br />
<br />
We hope the Jupyter Notebook service was helpful in your research.
<br />
<br />
If you have any questions or concerns, please reply directly to this email or
log a <a href="https://support.ehelp.edu.au/support/tickets/new">support ticket</a>.
<br />
<br />
Thanks,
<br />
ARDC Nectar Research Cloud Team
