Dear {{ name }},

{% block content %}
{% endblock %}

Regards,
NeCTAR and the Research Cloud team.

--

About this message:
This mail has been sent to all users of the Research Cloud.  It has
been sent to the email address associated with your Research Cloud
login.  These emails are essential communications and kept to a
minimum.  They only relate to events that may affect your virtual
machines or data integrity.
