Dear users of the NeCTAR Research Cloud,

Over the past few months, the NeCTAR Research Cloud has experienced
demand greater than the available capacity. As a result, many users
have been able to launch only small and medium sized instances in the
Research Cloud, limiting the use of the cloud. To help us, users are
encouraged to terminate instances that are not in use to free up
resources.

However, things are set to improve throughout this year.

As of Thursday 6 February, eResearch South Australia (eRSA) has
successfully commissioned 1400 CPU cores to bring the new eRSA cloud
node into the Research Cloud. We would like to welcome eResearch SA to
the Research Cloud and to thank them for their efforts.

This new resource brings the NeCTAR Research Cloud to 8000 CPU
cores. Additional nodes will be commissioned in 2014 to bring the
total capacity to over 30,000 CPU cores before the end of 2014.

We also acknowledge the contributions by the University of Melbourne,
Monash University and the Queensland Cyber Infrastructure Foundation
(QCIF) in supporting Australian researcher’s use of the NeCTAR Cloud
to date.


As of 6 February, the NeCTAR Research Cloud includes the following
nodes providing computing resources to Australian researchers:

  *   University of Melbourne: 4000 CPU cores since January 2012
  *   Monash University Stage 1: 2300 CPU cores since June 2013
  *   QCIF Stage 1: 512 CPU cores since June 2013
  *   eResearch SA Stage 1: 1400 cores since February 2014

We are expecting a large expansion phase over the next few months with
3 nodes expected to provide additional capacity:

  *   ANU/NCI node: ~3200 CPU cores expected before end March 2014
  *   QCIF Stage 2: ~3500 CPU cores expected before end March 2014
  *   eResearch SA Stage 2: ~1300 CPU cores expected before end April 2014

Additional capacity will be provided by cloud nodes later in 2014:

  *   Monash University Stage 2: ~2000 CPU cores expected before end May 2014
  *   University of Tasmania: ~3200 CPU cores expected before end May 2014
  *   Intersect (NSW): ~4000 CPU cores expected Q3 2014
  *   iVEC (Western Australia): ~4000 CPU cores expected Q4 2014


Some urgent steps had been put in place over recent weeks to help
alleviate the problems due to the recent high demand and limited
supply of cloud resources. These included:

  *   A freeze on approval of new requests for resource allocation
  *   Implementation of a project expiry policy to identify and free up a small amount of CPU cores not in active use
  *   Supporting eResearch SA to bring their Phase 1 cloud node into production

The short-lived freeze on approval of new allocations has now been lifted.

As there has been considerable built up demand, we will continue to
monitor usage over the next few weeks to determine if further actions
are required to maintain the service.


Regards,
NeCTAR and the Research Cloud team.


--

For further information on the NeCTAR Research Cloud please see:
Research Cloud support site: http://support.rc.nectar.org.au
Research Cloud dashboard: http://dashboard.rc.nectar.org.au
NeCTAR Project website: http://nectar.org.au

NeCTAR is an Australian Government project conducted as part of the
Super Science initiative and financed by the Education Investment
Fund. The University of Melbourne has been appointed the lead agent by
the Commonwealth of Australia, Department of Education.

About this message:
This mail has been sent to all users of the Research Cloud.  It has
been sent to the email address associated with your Research Cloud
login.  These emails are essential communications and kept to a
minimum.  They only relate to events that may affect your virtual
machines or data integrity.
