Dear Image Owner,
<br />
<br />
We hope that you have found the Nectar Research Cloud helpful in your research.
<br />
<br />
Cloud images on the Research Cloud are created for a fixed term to ensure fair access to resources for all users of the cloud.
<br />
<br />
Your expired image, {{ image.name }}, has now been <b>deleted</b>.
<br />
<br />
Thanks,
<br />
Nectar Research Cloud Team
