Dear Nectar User,
<br />
<br />
In order to ensure efficient use of resources, we expire rarely used images, your image <b>{{ image.name }}</b> (ID: {{ image.id }}) has been identified as a rarely used image and therefore will expire on <b>{{ expiry_date }}</b>.
<br />
<br />
<b>Image Details:</b>
<table style="border:1px solid black;border-collapse:collapse;padding:0 5px 0 5px;">
  <tr>
    <td style="border:1px solid black;padding:0 5px 0 5px;">Name</th>
    <td style="border:1px solid black;padding:0 5px 0 5px;">{{ image.name }}</th>
  </tr>
  <tr>
    <td style="border:1px solid black;padding:0 5px 0 5px;">ID</td>
    <td style="border:1px solid black;padding:0 5px 0 5px;">{{ image.id }}</td>
  </tr>
  <tr>
    <td style="border:1px solid black;padding:0 5px 0 5px;">Owner</td>
    <td style="border:1px solid black;padding:0 5px 0 5px;">{{ project.name }}</td>
  </tr>
  <tr>
    <td style="border:1px solid black;padding:0 5px 0 5px;">Created_at</td>
    <td style="border:1px solid black;padding:0 5px 0 5px;">{{ image.created_at }}</td>
  </tr>
  <tr>
    <td style="border:1px solid black;padding:0 5px 0 5px;">Size</td>
    <td style="border:1px solid black;padding:0 5px 0 5px;">{{ image.size }} bytes</td>
  </tr>
  <tr>
    <td style="border:1px solid black;padding:0 5px 0 5px;">Visibility</td>
    <td style="border:1px solid black;padding:0 5px 0 5px;">{{ image.visibility }}</td>
  </tr>
  <tr>
    <td style="border:1px solid black;padding:0 5px 0 5px;">Status</td>
    <td style="border:1px solid black;padding:0 5px 0 5px;">{{ image.status }}</td>
  </tr>
</table>
<br />
<br />
If you want to keep this image, please launch an instance based on it, this will reset the expiry process.
<br />
If you have any questions or concerns, please log a <a href="https://support.ehelp.edu.au/support/tickets/new">support ticket</a> or reply to this email.
<br />
<br />
Thanks,
<br />
Nectar Research Cloud Team
<br />
<br />
<br />
Please note: If you have been cc'd on this email and know that the project manager is no longer associated with this project or is not contactable, please log a <a href="https://support.ehelp.edu.au/support/tickets/new">support ticket</a> or reply to this email to advise us to ensure the appropriate person is notified of the upcoming expiry.
