Dear Image Owner,
<br />
<br />
We hope that you have found the Nectar Research Cloud helpful in your research.
<br />
<br />
Cloud images on the Research Cloud are created for a fixed term to ensure fair access to resources for all users of the cloud.
<br />
<br />
Your image, <b>{{ image.name }}</b>, has been expired and is <b>due to be deleted on {{ expiry_date }}.</b> <b>The image is unrecoverable after deletion. </b>
<br />
<br />
<b>If you wish to continue using this image</b> for your research please just spin up an instance to activate it:
<br />
<ol>
<li>Log in to the <a href="https://dashboard.rc.nectar.org.au">Nectar dashboard</a></li>
<li>Navigate to "Compute -> Instances" and click the "Launch Instance" button on the right.</li>
<li>On the Request Form, you are asked to fill in or adjust some details about your new instance. Please select this image as Boot Source.</li>
<li>Click the "Submit" button.</li>
</ol>
<br />
<b>If you no longer require this image</b> please just ignore the email and image expiry process will proceed.
<br />
<br />
We want to ensure that researchers like you have as much access as possible to the Research Cloud, but we need to ensure that any allocated resources are being actively used as the available resources are limited.
<br />
<br />
If you have any questions or concerns, please log a support ticket by replying to this email.
<br />
<br />
Thanks,
<br />
Nectar Research Cloud Team
<br />
<br />
<br />
Please note: If you have been cc'd on this email and know that the image owner is no longer associated with this image or is not contactable, please log a <a href="https://support.ehelp.edu.au/support/tickets/new">support ticket</a> to advise us to ensure the appropriate person is notified of the upcoming expiry.
