NeCTAR project upcoming expiry for {{ project.name }}
----
Dear NeCTAR Research Cloud User,


We hope that you have found the NeCTAR Research Cloud (NRC) helpful in
your research.

Projects on the NRC are created for a fixed term to ensure fair access
to resources for all users of the cloud.

Trial projects are given a time-based quota equivalent to running two
CPU cores for three months (approximately 4000 core-hours).

Your trial project, {{ project.name }}, is over 80% of allowed cloud
usage.

Once the quota reaches 100%, our system will notify you again and set
your project's quota to 0.  Any instances within the project will remain
active, but you won't be able to launch any new instances.

One month after reaching 100% usage, our system will shut down and
archive any instances in this trial project (including suspended and
stopped instances). This will release the resources for other users of
the cloud. The archived instances will be safely stored, and will remain
available to you for 3 months from the date they were shut down.

If you wish to continue using the NRC for your research please submit an
allocation request; see http://support.rc.nectar.org.au/docs/allocations
for details on how to access further resources on the NRC.

If you are thinking of putting in an application for use of further NRC
resources, please let us know so we can help you smoothly transition
your research onto a new project allocation.

Please reply to this email if you have any questions or concerns.


Thanks,

NeCTAR Research Cloud Team
