<table>
<thead>
<tr>
<td>ID</td>
<td>Full Name<</td>
<td>Email</td>
</tr>
</thead>
<tbody>
<tr>
<td>{{ account.id }}</td>
<td>{{ account.displayname }}</td>
<td>{{ account.email }}</td>
</tr>
</tbody>
</table>
