Dear {{account.displayname }},
<br />
<br />
To ensure the security of the cloud and your account it is a condition of use of the Nectar Research Cloud that you sign into the dashboard at least once every 6 months.
As you haven't logged into the Nectar Research Cloud dashboard in the past 6 months, we unfortunately need to deactivate your account.
<br />
<br />
If you'd like to keep your account open, just sign in to dashboard during the next 30 days.
<br />
<br />
<b><a href="https://dashboard.rc.nectar.org.au">Access your account</a></b>
<br />
<br />
Please also be assured that all cloud resources are owned by projects, not accounts and these will not be removed or disabled.
<br />
<br />
We look forward to hearing from you soon.
<br />
<br />
Best Regards,
<br />
Nectar Research Cloud Team
