Hi,
<br />
Your following out of zone instances which are from project <b>{{ project.name }}</b>, has now been <b>disabled</b>.
<br />
Since your allocation has been approved as a {{ allocation.allocation_home_display }} allocation. You will be able to use the cloud resources provided by the {{ allocation.allocation_home_display }} Nectar site.
<br />
<br />
Affected instance:
<table>
<thead>
<th>ID</th>
<th>Name</th>
<th>Availability Zone</th>
</thead>
<tbody>
{% for instance in out_of_zone_instances %}
<tr>
<td>{{ instance.id }}</td>
<td>{{ instance.name }}</td>
<td>{{ instance.availability_zone }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<br />
<br />
Kind Regards,
<br />
Nectar Research Cloud Team.
