Hi,
<br />
{% block message %}{% endblock message %}
<br />
Since your allocation has been approved as a {{ allocation.allocation_home_display }} allocation. You will be able to use the cloud resources provided by the {{ allocation.allocation_home_display }} Nectar site. But it looks like you have instance that are outside your approved allocation home location.
<br />
<br />
You will need to arrange to <a href="https://support.ehelp.edu.au/support/solutions/articles/6000191165-migrating-instances-between-availability-zones">move</a> this
to be within the following compute availability zones available to you:
<ul>
<li>{{ compute_zones }}</li>
</ul>
Affected instance:
<table>
<thead>
<th>ID</th>
<th>Name</th>
<th>Availability Zone</th>
</thead>
<tbody>
{% for instance in out_of_zone_instances %}
<tr>
<td>{{ instance.id }}</td>
<td>{{ instance.name }}</td>
<td>{{ instance.availability_zone }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<br />
If the instances move is not completed in time, they will be archived at <b>{{ expiry_date }}</b>
<br />
<br />
For hints on the next steps to access these resources, add users and launch
instancess, please visit
https://support.ehelp.edu.au/support/solutions/articles/6000055378-welcome
<br />
<br />
Kind Regards,
<br />
Nectar Research Cloud Team.
