Out-of-zone instances expiry for project <b>{{ project.name }}</b> ({{ project.id }})
<br />
<br />
{% if allocation %}
<b>Allocation Details:</b><br />
ID: {{ allocation.id}}<br />
Owner: {{ allocation.contact_email }}<br />
Approver: {{ allocation.approver_email }}<br />
Allocation Home: {{ allocation.allocation_home }}<br />
Start Date: {{ allocation.start_date}}<br />
End Date: {{ allocation.end_date}}<br />
<br />
<br />
{% endif %}

<b>Managers</b>
<table style="border:1px solid black;border-collapse:collapse;padding:0 5px 0 5px;">
<thead>
<tr>
<td style="border:1px solid black;padding:0 5px 0 5px;"><i>Username</i></td>
<td style="border:1px solid black;padding:0 5px 0 5px;"><i>Full Name</i></td>
<td style="border:1px solid black;padding:0 5px 0 5px;"><i>Email</i></td>
</tr>
</thead>
<tbody>
{% for manager in managers %}
<tr>
<td style="border:1px solid black;padding:0 5px 0 5px;">{{ manager.name }}</td>
<td style="border:1px solid black;padding:0 5px 0 5px;">{{ manager.full_name }}</td>
<td style="border:1px solid black;padding:0 5px 0 5px;">{{ manager.email }}</td>
</tr>
{% else %}
<tr><td>No Managers</td><td></td><td></td></tr>
{% endfor %}
</tbody>
</table>

<b>Members</b>
<table style="border:1px solid black;border-collapse:collapse;padding:0 5px 0 5px;">
<thead>
<tr>
<td style="border:1px solid black;padding:0 5px 0 5px;"><i>Username</i></td>
<td style="border:1px solid black;padding:0 5px 0 5px;"><i>Full Name</i></td>
<td style="border:1px solid black;padding:0 5px 0 5px;"><i>Email</i></td>
</tr>
</thead>
<tbody>
{% for member in members %}
<tr>
<td style="border:1px solid black;padding:0 5px 0 5px;">{{ member.name }}</td>
<td style="border:1px solid black;padding:0 5px 0 5px;">{{ member.full_name }}</td>
<td style="border:1px solid black;padding:0 5px 0 5px;">{{ member.email }}</td>
</tr>
{% else %}
<tr><td>No Members</td><td></td><td></td></tr>
{% endfor %}
</tbody>
</table>
